Repository Anuj-Gupta4/fmtm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, documentation, ODK

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "josm/**/*"
"documentation":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"

build: remove project_info table, merge into projects
  src/backend/migrations/005-cleanup-project-table.sql
  src/backend/migrations/005-remove-centroid.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend

refactor: work in progress removing sqlalchemy
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/database.py
  src/backend/app/db/db_schemas.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_crud.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/components/ApproveOrganization/OrganizationForm.tsx
  src/frontend/src/views/Home.tsx
Labels: frontend, backend

refactor: continue refactor to remove sqlalchemy
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/auth_schemas.py
  src/backend/app/auth/osm.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_deps.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/db_models.py
  src/backend/app/db/enums.py
  src/backend/app/db/languages_and_countries.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/__init__.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_deps.py
  src/backend/app/organisations/organisation_routes.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_deps.py
  src/backend/app/users/user_routes.py
  src/backend/app/users/user_schemas.py
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/tests/conftest.py
  src/backend/tests/test_central_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_task_routes.py
  src/frontend/src/components/createnewproject/SplitTasks.tsx
Labels: frontend, backend

refactor: continue sqlalchemy removal, fix endpoints
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

refactor: continued migration from sqlalchemy --> psycopg
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

refactor: test usage of psycopg + pydantic models on project get endpoint
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/tasks/tasks_schemas.py
Labels: backend

build: migration to add default timestamptz to tables
  src/backend/migrations/005-cleanup-project-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend

refactor: work in progress removing sqlalchemy
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/roles.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/db_schemas.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/main.py
  src/backend/app/models/enums.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_crud.py
  src/backend/app/tasks/task_deps.py
  src/backend/app/tasks/task_routes.py
  src/backend/app/tasks/task_schemas.py
  src/backend/app/users/user_crud.py
  src/backend/tests/conftest.py
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/views/SubmissionDetails.tsx
Labels: frontend, backend

build: relock deps after rebase
  src/backend/pdm.lock
Labels: backend

feat: create async psycopg db pool at app startup
  src/backend/app/db/database.py
  src/backend/app/main.py
Labels: backend

build: add psycopg async driver (v3)
  src/backend/pyproject.toml
Labels: backend

build: migration remove additional redundant fields from projects
  src/backend/app/db/db_models.py
  src/backend/migrations/005-remove-centroid.sql
  src/backend/migrations/init/fmtm_base_schema.sql
Labels: backend

fix: updating failed state for s3 upload not awaited
  src/backend/app/submissions/submission_crud.py
Labels: backend

refactor: fix background tasks and mbtiles / basemaps apis
  src/backend/app/db/models.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/006-basemaps-table.sql
  src/backend/migrations/007-migrate-tiles.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/frontend/src/api/Project.ts
  src/frontend/src/components/GenerateBasemap.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
Labels: frontend, backend

build: remove async-lru package
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend

refactor: refactor out project_deps.get_odk_credentials
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_deps.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/s3.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/007-migrate-tiles.sql
Labels: backend

refactor: use HTTPStatus enum everywhere, format
  src/backend/app/auth/auth_routes.py
  src/backend/app/auth/osm.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/tasks/task_crud.py
Labels: backend

refactor: further updates to sqlalchemy removal
  src/backend/app/central/central_routes.py
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/helpers/helper_routes.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

refactor: working project routes
  src/backend/app/db/models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/organisations/organisation_crud.py
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
Labels: frontend, backend

refactor: rename project_path_prefix --> slug, remove unused project_info refs
  src/backend/app/db/db_models.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrations/005-cleanup-project-table.sql
  src/backend/migrations/init/fmtm_base_schema.sql
  src/backend/migrations/qrcode_to_odktoken.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
  src/frontend/src/api/CreateProjectService.ts
  src/frontend/src/api/Project.ts
  src/frontend/src/components/ProjectDetailsV2/ActivitiesPanel.tsx
  src/frontend/src/components/ProjectDetailsV2/MapControlComponent.tsx
  src/frontend/src/components/ProjectDetailsV2/MobileProjectInfoContent.tsx
  src/frontend/src/components/ProjectSubmissions/ProjectInfo.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/ProjectSubmissions/TaskSubmissionsMap.tsx
  src/frontend/src/components/QrcodeComponent.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/home/ExploreProjectCard.tsx
  src/frontend/src/models/createproject/createProjectModel.ts
  src/frontend/src/models/home/homeModel.ts
  src/frontend/src/models/project/projectModel.ts
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/ICreateProject.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend, backend

refactor: final type renames before task events refactor
  src/backend/app/db/models.py
  src/backend/app/projects/project_schemas.py
  src/frontend/src/api/Project.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ManageProject/EditTab/FormUpdateTab.tsx
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/models/project/projectModel.ts
  src/mapper/src/lib/types.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend, backend

fix: handle error for /statuses endpoint
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: add project_id query param to project get
  src/frontend/src/api/Project.ts
Labels: frontend

fix: centroid loading on home page
  src/frontend/src/components/home/ProjectListMap.tsx
Labels: frontend

fix: project outline no longer nested in Feature
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: frontend

fix: update frontend enums to use strings
  src/frontend/src/types/enums.ts
Labels: frontend

fix: enum usage on split task frontend
  src/frontend/src/components/createnewproject/DataExtract.tsx
  src/frontend/src/components/createnewproject/SplitTasks.tsx
  src/frontend/src/components/createnewproject/validation/DefineTaskValidation.tsx
Labels: frontend

fix: splitting of features into task areas during proj create
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

fix: sometimes project missing hashtags
  src/backend/app/projects/project_schemas.py
Labels: backend

fix: qrcode loading with project name
  src/frontend/src/components/QrcodeComponent.tsx
Labels: frontend

fix: use EntityStatus enum
  src/backend/app/auth/auth_routes.py
  src/backend/app/central/central_crud.py
  src/backend/app/central/central_routes.py
  src/backend/app/central/central_schemas.py
  src/backend/app/db/enums.py
  src/backend/app/main.py
Labels: backend

fix: add ORDER BY to all get all statements
  src/backend/app/db/models.py
Labels: backend

fix: generate project working
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/projects/project_schemas.py
Labels: backend

refactor: remove sqlalchemy once and for all!! (bye bye)
  src/backend/app/db/database.py
  src/backend/app/db/db_models.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/main.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/app/users/user_deps.py
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

fix: untested fixes for submission routes
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
Labels: backend

build: upgrade postgis image --> 14-3.5-alpine as 3.4 was removed
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
Labels: devops

refactor: remove manual enums since available in in python 3.11
  src/backend/app/db/enums.py
Labels: backend

build: upgrade python --> 3.12 + all dependencies to latest
  docs/dev/Backend.md
  src/backend/Dockerfile
  src/backend/pdm.lock
  src/backend/pyproject.toml
Labels: backend, devops, documentation

refactor: fix imports, remove refs to db_models
  src/backend/app/auth/auth_schemas.py
  src/backend/app/projects/project_crud.py
  src/backend/app/projects/project_routes.py
  src/backend/tests/conftest.py
  src/backend/tests/test_projects_routes.py
Labels: backend

build: relock deps after osm-rawdata upgrade, optional sqlalchemy
  src/backend/pdm.lock
Labels: backend
