Repository Anuj-Gupta4/fmtm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devops, migration, docs, ODK, contrib, tests

.github/labeler.yml:

"frontend":
  - "src/frontend/**/*"
"backend":
  - "src/backend/**/*"
"devops":
  - ".github/**/*"
  - "nginx/**/*"
  - "scripts/**/*"
  - "docker-*.yml"
  - "**/Dockerfile"
  - "**/*.dockerfile"
  - "**/*entrypoint.sh"
  - "Justfile"
"migration":
  - "src/backend/migrations/**/*"
"docs":
  - "docs/**/*"
  - "images/**/*"
  - "mkdocs.yml"
  - "README.md"
  - "INSTALL.md"
"ODK":
  - "odkcentral/**/*"
"contrib":
  - "contrib/**/*"
"tests":
  - "src/backend/tests/**/*"
  - "src/frontend/tests/**/*"
  - "src/frontend/e2e/**/*"

fix: awaiting AsyncConnectionPool def is incorrect
  src/backend/app/main.py
Labels: backend

fix: case where string is passed to dborg one func
  src/backend/app/db/models.py
Labels: backend

test: start fixing test cases
  src/backend/app/organisations/organisation_schemas.py
  src/backend/app/projects/project_schemas.py
  src/backend/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/test_central_routes.py
  src/backend/tests/test_organisation_routes.py
  src/backend/tests/test_projects_routes.py
  src/backend/tests/test_task_routes.py
  src/backend/tests/test_users.py
Labels: backend, tests

bump: version 2024.4.0 → 2024.4.1
  CHANGELOG.md
  chart/Chart.yaml
  src/backend/app/__version__.py
  src/backend/pyproject.toml
  src/frontend/package.json
Labels: frontend, backend

refactor(user-deletion): use CTE for sql query
  src/backend/app/db/models.py
Labels: backend
